parameters:
    level: 5
    paths:
        - src
        - routes
        - public/index.php
        - config
        - scripts
        - tests
    excludePaths:
        - vendor
        - node_modules (?)
